h1 {
    font-size: 48px;
}

.blackjack-container {
    font-size: 24px;
    font-weight: bold;
}

.hands {
    display: flex;
    height: 30vh;
}

.hand {
    flex: 1;
}

.game-message {
    color: #2b373b;
    font-size: 24px;
    height: 40px;
}

button {
    font-weight: bold;
    color: white;
    padding: 2px 80px;
    margin: 3px;
    background-color: #3c4c53;
}

button:hover {
    background-color: #334147;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.buttons {
    display: flex;
    justify-content: center;
}

/*Slider styling*/
.wrapper {
    position: relative;
}

.slider {
    position: absolute;
    width: 100%;
}

.slider-container {
    width: 50%;
    margin: auto;
    padding-top: 15px;
}
