.bombContainer {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 2px;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
}

.cell.revealed {
    background-color: red;
}