
.bombContainer {
    width: 500px;
    margin:auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
    font-size: 50px;
}

.cell.clicked {
    background-color: red;
}
