.app-header {
    background-color: #2b373b;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-button {
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding: 0 10px;
    background-color: #3c4c53;
}

.header-button:hover {
    background-color: #334147;
}

.header-balance {
    font-size: 32px;
    font-weight: bold;
}