.home-container {
    text-align: center;
    padding: 20px;
}

.home-container h2 {
    font-size: 48px;
}

.home-container p {
    font-size: 24px;
    margin-bottom: 20px;
}

.home-buttons {
    display: flex;
    justify-content: center;
}

.home-buttons button {
    padding: 10px 20px;
    font-size: 32px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.home-buttons button:hover {
    background-color: #0056b3;
}
