.home-container {
    text-align: center;
    padding: 20px;
}

#root {
    grid-area: 3 / 2 / 4 / 3;
}

.home-container h2 {
    font-size: 48px;
}

.home-container p {
    font-size: 24px;
    margin-bottom: 20px;
}

.home-buttons {
    display: flex;
    justify-content:end;
}

.home-buttons button {
    padding: 10px 20px;
    font-size: 32px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.home-buttons button:hover {
    background-color: #0056b3;
}

body {
    background-image: url('../assets/david-vives-vegas.jpg');
    position: relative;
    background-size:100% 100vh;
    display: grid;
    max-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}